body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  display: inline-block;
}

input {
  width: 60px;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#passwords-container {
  margin-top: 20px;
}

.password-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.text {
  font-weight: bold;
  color: #333;
}

.result {
  font-weight: normal;
  margin-left: 10px;
}

.copy-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #218838;
}
